[Unit]
Description=Dynamic output configuration for Wayland compositors
Documentation=https://gitlab.freedesktop.org/emersion/kanshi
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=default.target
